<h1>Gallery {{picture.id}} </h1>
<br>
<br>
<div>
  <div class= "{{picture.id}}">
    <strong>author:{{picture.author}} <br> description:{{picture.description}} <br> <a href="{{picture.link}}">{{picture.link}}</a></strong>
  </div>
  <img src="{{picture.link}}">
</div>